.container{
  max-width: 1180px;
  margin: 0 auto;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:3rem;
}
/* .form-group{
  padding: 20px;
}
.button.btn.btn-primary.custom{
  margin-top: 30px;
} */


@media only screen and (max-width: 767px) and (min-width: 300px)  {
  .grid{
    grid-template-columns: 1fr;
    gap:3rem;
  }
}
